@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-secondary: #ec4899;
  --color-background: #0f172a;
  --font-display: "Inter", "sans-serif";
}

body {
  @apply bg-gray-50 text-gray-900 antialiased dark:bg-gray-900 dark:text-white;
}